<div>
    <h2>Documentation</h2>
    <uib-accordion>
        <uib-accordion-group heading="Test stratergy">
            <p>Stuff goes here</p>
        </uib-accordion-group>
        <uib-accordion-group heading="Work distribution">
            <p>Did we even work?</p>
        </uib-accordion-group>
        <uib-accordion-group heading="How to test the system">
            <p>Keep doing what you're doing</p>
        </uib-accordion-group>
    </uib-accordion>
    <hr style="background: black; border:0; height:2px" />
</div>