<!DOCTYPE html>
<html>
   <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
        <script src='bower_components/angular-animate/angular-animate.min.js'></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/view1/view1.js"></script>
        <script src="app/view2/view2.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">   
</head>
    <body ng-app="myApp" ng-controller="appCtrl">
        
        <div class="container">
            <div class="container">
                
                <div id="navbar" class="collapse navbar-collapse">
                    <table style="float: left; border-top: lightgrey; border-top-width: 4px; margin-top: 20px">
                        
                        <thead>
                        <th>
                            
                        <th>Name</th>
                        <th>Details</th>
                        
                        
                        </thead>
                        <tr ng-repeat="user in users">
                            <td><img src="{{user.picture.thumbnail}}" ></td>
                            <td>{{user.first}}&nbsp;{{user.last}}</td>
                            <td><a ng-click="details(user.dob)">Details</a></td>
                            
                        </tr>
                    </table>
                    
                    <div class="container">
                        
                        <div style="margin-top: -100px">
                            
                            <hr style="background: transparent; border: 0; height: 2px" />
                            <div ng-view ng-show ="show()" style = "float: right"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </body>
</html>
